!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    
    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || "Nanobox Documentation"

    %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}
    
    = stylesheet_link_tag "all"
    = javascript_include_tag  "all"
  
  %body
    #header
      %a{ :href => '/' }
        Nanobox Docs
    #wrapper
      #navigation
        %ul
          = tree_to_html(data.tree)
      #content
        %h1 #{ data.page.title }
        = find_and_preserve do
          = yield
    #footer
