!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

    / favicon
    %link{ :rel => "icon", :type => "image/png", :href => "/images/favicon.ico" }

    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

    / Use title if it's in the page YAML frontmatter
    %title
      - if current_page.data.title
        = current_page.data.title + " - Nanobox Production Documentation"
      - else
        = "Nanobox Production Documentation"

    %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}

    = stylesheet_link_tag "all"
    = javascript_include_tag  "all"

  %body
    #header
      %a#logo.left{ :href => '/' }
        %svg#nanobox-logo{"enable-background" => "new 0 0 19 33", :space => "preserve", :version => "1.1", :viewbox => "0 0 19 33", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
          %g
            %g
              %polygon{:fill => "#405C70", :points => "19,26 9.6,30.9 0,26 9.4,21.1"}
              %polygon{:fill => "#2F4352", :points => "15,24 9.5,26.9 3.9,24 9.4,21.1"}
              %polygon{:fill => "#1C2830", :points => "9.6,30.9 19,26.1 19,27.4 9.6,32.3 "}
              %polygon{:fill => "#19242B", :points => "9.6,30.9 0,26 0,27.3 9.6,32.3 "}
            %g
              %polygon{:fill => "#1E77A3", :points => "9.5,23.1 17.2,19.1 17.2,20.3 9.5,24.2 "}
              %polygon{:fill => "#175D80", :points => "9.5,23.1 1.8,19.1 1.8,20.3 9.5,24.2 "}
              %polygon{:fill => "#62B1DD", :points => "17.2,19.1 9.5,23.1 1.8,19.1 9.5,15.2"}
              %polygon{"enable-background" => "new", :fill => "#0B194F", :opacity => "0.42", :points => "15.1,18.1 9.5,21 3.9,18.1 9.5,15.2 "}
            %g
              %polygon{:fill => "#43C494", :points => "9.5,16.9 18.8,12.2 18.8,13.5 9.5,18.3 "}
              %polygon{:fill => "#4AAA88", :points => "9.5,16.9 0.2,12.2 0.2,13.5 9.5,18.3 "}
              %polygon{:fill => "#7FE0BF", :points => "18.8,12.2 9.5,16.9 0.2,12.2 9.5,7.4 "}
              %polygon{"enable-background" => "new", :fill => "#43C4A6", :opacity => "0.76", :points => "16.3,10.9 9.5,14.4 2.7,10.9 9.5,7.4"}
            %g
              %polygon{:fill => "#FDE5A6", :points => "18.8,4.8 9.5,9.6 0.2,4.8 9.5,0"}
              %polygon{:fill => "#E9D399", :points => "9.5,9.6 18.8,4.8 18.8,6.2 9.5,11"}
              %polygon{:fill => "#D9BB6F", :points => "9.5,9.6 0.2,4.8 0.2,6.2 9.5,11"}
        %span#nb-title
          %span.drop Nanobox
          Docs
      %ul.links
        %li.text
          %a{ :href => "/" }
            Local
        %li.text 
          %a.active{ :href => "/production/" }
            Production
        %li 
          %a{ :href => 'http://nanobox.io'}
            %svg#home-icon{"enable-background" => "new 0 0 18 18", :space => "preserve", :version => "1.1", :viewbox => "0 0 18 18", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %polygon{:fill => "none", :points => "11,13 11,9 9,7 7,9 \r\n\t7,13 ", "stroke-linecap" => "round", "stroke-miterlimit" => "10", "stroke-width" => "2"}
              %polyline{:fill => "none", :points => "14,11 14,16 4,16 \r\n\t4,11 ", "stroke-linecap" => "round", "stroke-miterlimit" => "10", "stroke-width" => "2"}
              %polyline{:fill => "none", :points => "2,9.1 9.1,2 \r\n\t16.1,9.1 ", "stroke-linecap" => "round", "stroke-miterlimit" => "10", "stroke-width" => "2"}
    #wrapper
      #contents-btn.open Contents
      #navigation
        %ul#contents.closed
          - data.prod_contents.categories.each do |category|
            %li{ nav_article_active( category.path ) }
              = link_to category.title, category.path
              - if category.articles
                %ul.sub
                  - category.articles.each do |article|
                    %li{ nav_article_active( article.path ) }
                      = link_to article.title, article.path
                      - if article.sub_articles
                        %ul.sub
                          - article.sub_articles.each do |sub_article|
                            %li{ nav_article_active( sub_article.path ) }
                              = link_to sub_article.title, sub_article.path
      #content
        - if data.page.title
          %h1 #{ data.page.title }
        = find_and_preserve do
          = yield
        #pagination
          - prev_article = prod_get_prev_article(current_page.url)
          - if prev_article
            = link_to prev_article[:title], prev_article[:path], class: "prev"

          - next_article = prod_get_next_article(current_page.url)
          - if next_article
            = link_to next_article[:title], next_article[:path], class: "next"

    #footer
