%li{ nav_article_active( article.path ) }
  - if not article.articles
    %span
      = partial "svgs/nav-bullet"
    = link_to article.title, article.path
  - else
    %span.nav-toggle
      = partial "svgs/nav-btn"
    = link_to article.title, article.path
    %ul.sub
      - article.articles.each do |article|
        = partial "nav-builder", article: article
