%ul#contents.closed
  - data.contents.categories.each do |category|
    %li{ nav_article_active( category.path ) }
      = link_to category.title, category.path
      - if category.articles
        %ul.sub
          - category.articles.each do |article|
            %li{ nav_article_active( article.path ) }
              = link_to article.title, article.path
              - if article.sub_articles
                %ul.sub
                  - article.sub_articles.each do |sub_article|
                    %li{ nav_article_active( sub_article.path ) }
                      = link_to sub_article.title, sub_article.path

- prev_article = get_prev_article(current_page.url)
- if prev_article
  %p= link_to prev_article[:title], prev_article[:path]

- next_article = get_next_article(current_page.url)
- if next_article
  %p= link_to next_article[:title], next_article[:path]
